# Frequent Patterns & Association Rules

In [1]:
%matplotlib inline

import math
import numpy as np
import pandas as pd
import scipy.stats as stats
import matplotlib.pyplot as plt

from collections import defaultdict
from scipy.stats.stats import pearsonr

In [2]:
import fim
from fim import apriori

In [3]:
df = pd.read_csv("hr_COMMA_SEP.csv")
df.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low

In [4]:
df.describe()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years
count,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000
mean,0.612834,0.716102,3.803054,201.050337,3.498233,0.144610,0.238083,0.021268
std,0.248631,0.171169,1.232592,49.943099,1.460136,0.351719,0.425924,0.144281
min,0.090000,0.360000,2.000000,96.000000,2.000000,0.000000,0.000000,0.000000
25%,0.440000,0.560000,3.000000,156.000000,3.000000,0.000000,0.000000,0.000000
50%,0.640000,0.720000,4.000000,200.000000,3.000000,0.000000,0.000000,0.000000
75%,0.820000,0.870000,5.000000,245.000000,4.000000,0.000000,0.000000,0.000000
max,1.000000,1.000000,7.000000,310.000000,10.000000,1.000000,1.000000,1.000000

In [5]:
df2 = df.copy()

In [6]:
satisfaction_levels = ['Molto insoddisfatto', 'Insoddisfatto', 'Neutrale', 'Soddisfatto', 'Molto soddisfatto'] #5 bins
bins_sl = [0, 0.2, 0.4, 0.6, 0.8, 1.01]
df2['satisfaction_level_cat'] = pd.cut(df2['satisfaction_level'], bins=bins_sl, 
                         right=False, labels=satisfaction_levels)

In [7]:
#last_evaluation_levels = ['Molto negativa', 'Negativa', 'Neutrale', 'Positiva', 'Molto positiva'] #5 bins
#bins_le = [0, 0.2, 0.4, 0.6, 0.8, 1.01]
#df2['last_evaluation_cat'] = pd.cut(df2['last_evaluation'], bins=bins_le, 
#                        right=False, labels=last_evaluation_levels)

In [8]:
last_evaluation_levels = ['Insufficiente', 'Sufficiente', 'Discreto', 'Buono', 'Ottimo'] #5 bins
bins_le = [0.36, 0.56, 0.66, 0.76, 0.91, 1.01]
df2['last_evaluation_cat'] = pd.cut(df2['last_evaluation'], bins=bins_le, 
                         right=False, labels=last_evaluation_levels)

In [9]:
#number_project_labels = ['2/3', '4/5', '6/7'] #3 bins
#bins_np = [2, 4, 6, 8]
#df2['number_project_cat'] = pd.cut(df2['number_project'], bins=bins_np,
#                        right=False, labels=number_project_labels)

In [10]:
#average_monthly_hours_groups = ['96-138', '139-182', '183-225', '226-269', '270-310'] #5 bins
#bins_amh = [96, 139, 183, 226, 270, 311]
#df2['avg_monthly_hours_cat'] = pd.cut(df2['average_montly_hours'], bins=bins_amh,
#                         right=False, labels=average_monthly_hours_groups)

In [11]:
average_monthly_hours_groups = ['96-118', '119-140', '141-162', '163-184', '185-206',
                                '207-228', '229-250', '251-272', '273-294', '295-310'] #10 bins

bins_amh = [96, 119, 141, 163, 185, 207, 229, 251, 273, 295, 311]

df2['avg_monthly_hours_cat'] = pd.cut(df2['average_montly_hours'], bins=bins_amh,
                         right=False, labels=average_monthly_hours_groups)

In [12]:
#time_spend_company_labels = ['2/3/4', '5/6/7', '8/9/10'] #3 bins
#bins_tsc = [2, 5, 8, 11]
#df2['time_spend_company_cat'] = pd.cut(df2['time_spend_company'], bins = bins_tsc,
#                       right=False, labels=time_spend_company_labels)

In [13]:
df2.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary,satisfaction_level_cat,last_evaluation_cat,avg_monthly_hours_cat
0,0.38,0.53,2,157,3,0,1,0,sales,low,Insoddisfatto,Insufficiente,141-162
1,0.80,0.86,5,262,6,0,1,0,sales,medium,Molto soddisfatto,Buono,251-272
2,0.11,0.88,7,272,4,0,1,0,sales,medium,Molto insoddisfatto,Buono,251-272
3,0.72,0.87,5,223,5,0,1,0,sales,low,Soddisfatto,Buono,207-228
4,0.37,0.52,2,159,3,0,1,0,sales,low,Insoddisfatto,Insufficiente,141-162

In [14]:
df2.tail()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary,satisfaction_level_cat,last_evaluation_cat,avg_monthly_hours_cat
14994,0.40,0.57,2,151,3,0,1,0,support,low,Neutrale,Sufficiente,141-162
14995,0.37,0.48,2,160,3,0,1,0,support,low,Insoddisfatto,Insufficiente,141-162
14996,0.37,0.53,2,143,3,0,1,0,support,low,Insoddisfatto,Insufficiente,141-162
14997,0.11,0.96,6,280,4,0,1,0,support,low,Molto insoddisfatto,Ottimo,273-294
14998,0.37,0.52,2,158,3,0,1,0,support,low,Insoddisfatto,Insufficiente,141-162

In [15]:
df2.describe()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years
count,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000
mean,0.612834,0.716102,3.803054,201.050337,3.498233,0.144610,0.238083,0.021268
std,0.248631,0.171169,1.232592,49.943099,1.460136,0.351719,0.425924,0.144281
min,0.090000,0.360000,2.000000,96.000000,2.000000,0.000000,0.000000,0.000000
25%,0.440000,0.560000,3.000000,156.000000,3.000000,0.000000,0.000000,0.000000
50%,0.640000,0.720000,4.000000,200.000000,3.000000,0.000000,0.000000,0.000000
75%,0.820000,0.870000,5.000000,245.000000,4.000000,0.000000,0.000000,0.000000
max,1.000000,1.000000,7.000000,310.000000,10.000000,1.000000,1.000000,1.000000

In [16]:
df2.drop(['satisfaction_level', 'last_evaluation', 'average_montly_hours'], axis=1, inplace=True)
df2 = df2[['satisfaction_level_cat', 'last_evaluation_cat', 'number_project', 'avg_monthly_hours_cat', 'time_spend_company', 'Work_accident', 'left', 'promotion_last_5years', 'sales', 'salary']]
df2.head()

,satisfaction_level_cat,last_evaluation_cat,number_project,avg_monthly_hours_cat,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
0,Insoddisfatto,Insufficiente,2,141-162,3,0,1,0,sales,low
1,Molto soddisfatto,Buono,5,251-272,6,0,1,0,sales,medium
2,Molto insoddisfatto,Buono,7,251-272,4,0,1,0,sales,medium
3,Soddisfatto,Buono,5,207-228,5,0,1,0,sales,low
4,Insoddisfatto,Insufficiente,2,141-162,3,0,1,0,sales,low

In [17]:
#df3 = df2.copy()
#df3['satisfaction_level_cat'] = df2['satisfaction_level_cat'].astype(str) + '_SAT'
#df3['last_evaluation_cat'] = df2['last_evaluation_cat'].astype(str) + '_LE'
#df3['number_project_cat'] = df2['number_project_cat'].astype(str) + '_NP'
#df3['avg_monthly_hours_cat'] = df2['avg_monthly_hours_cat'].astype(str) + '_AMH'
#df3['time_spend_company_cat'] = df2['time_spend_company_cat'].astype(str) + '_TSC'
#df3['Work_accident'] = df2['Work_accident'].astype(str) + '_WA'
#df3['left'] = df2['left'].astype(str) + '_L'
#df3['promotion_last_5years'] = df2['promotion_last_5years'].astype(str) + '_P'
#df3['sales'] = df2['sales'].astype(str) + '_D'
#df3['salary'] = df2['salary'].astype(str) + '_SA'

In [18]:
df3 = df2.copy()
df3['satisfaction_level_cat'] = df2['satisfaction_level_cat'].astype(str) + '_SAT'
df3['last_evaluation_cat'] = df2['last_evaluation_cat'].astype(str) + '_LE'
df3['number_project'] = df2['number_project'].astype(str) + '_NP'
df3['avg_monthly_hours_cat'] = df2['avg_monthly_hours_cat'].astype(str) + '_AMH'
df3['time_spend_company'] = df2['time_spend_company'].astype(str) + '_TSC'
df3['Work_accident'] = df2['Work_accident'].astype(str) + '_WA'
df3['left'] = df2['left'].astype(str) + '_L'
df3['promotion_last_5years'] = df2['promotion_last_5years'].astype(str) + '_P'
df3['sales'] = df2['sales'].astype(str) + '_D'
df3['salary'] = df2['salary'].astype(str) + '_SA'

In [19]:
df3.head()

,satisfaction_level_cat,last_evaluation_cat,number_project,avg_monthly_hours_cat,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
0,Insoddisfatto_SAT,Insufficiente_LE,2_NP,141-162_AMH,3_TSC,0_WA,1_L,0_P,sales_D,low_SA
1,Molto soddisfatto_SAT,Buono_LE,5_NP,251-272_AMH,6_TSC,0_WA,1_L,0_P,sales_D,medium_SA
2,Molto insoddisfatto_SAT,Buono_LE,7_NP,251-272_AMH,4_TSC,0_WA,1_L,0_P,sales_D,medium_SA
3,Soddisfatto_SAT,Buono_LE,5_NP,207-228_AMH,5_TSC,0_WA,1_L,0_P,sales_D,low_SA
4,Insoddisfatto_SAT,Insufficiente_LE,2_NP,141-162_AMH,3_TSC,0_WA,1_L,0_P,sales_D,low_SA

In [20]:
df3.describe()

,satisfaction_level_cat,last_evaluation_cat,number_project,avg_monthly_hours_cat,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
count,14999,14999,14999,14999,14999,14999,14999,14999,14999,14999
unique,5,5,6,10,8,2,2,2,10,3
top,Soddisfatto_SAT,Buono_LE,4_NP,141-162_AMH,3_TSC,0_WA,0_L,0_P,sales_D,low_SA
freq,4239,3999,4365,2667,6443,12830,11428,14680,4140,7316

In [21]:
df3.to_csv('hr_for_patterns.csv', sep=',', header=True)

In [22]:
hr_baskets_list = list()
for row in df3.values:
    hr_baskets_list.append(list(row))

In [23]:
#hr_baskets_list

In [24]:
len(hr_baskets_list)

14999

In [25]:
#help(apriori)

# Patterns

In [44]:
frequent_patterns = apriori(hr_baskets_list, supp=20, zmin=3, target = 's')

In [45]:
len(frequent_patterns)

36

In [47]:
frequent_patterns.sort(key=lambda pattern: pattern[1], reverse=True)
frequent_patterns

[(('0_L', '0_WA', '0_P'), 9200),
 (('low_SA', '0_WA', '0_P'), 6228),
 (('3_TSC', '0_WA', '0_P'), 5446),
 (('medium_SA', '0_WA', '0_P'), 5371),
 (('low_SA', '0_L', '0_P'), 5092),
 (('medium_SA', '0_L', '0_P'), 4953),
 (('3_TSC', '0_L', '0_P'), 4738),
 (('medium_SA', '0_L', '0_WA'), 4266),
 (('low_SA', '0_L', '0_WA'), 4199),
 (('low_SA', '0_L', '0_WA', '0_P'), 4162),
 (('medium_SA', '0_L', '0_WA', '0_P'), 4132),
 (('3_TSC', '0_L', '0_WA'), 4036),
 (('3_TSC', '0_L', '0_WA', '0_P'), 3946),
 (('3_NP', '0_L', '0_P'), 3888),
 (('4_NP', '0_L', '0_P'), 3843),
 (('Soddisfatto_SAT', '0_L', '0_P'), 3750),
 (('4_NP', '0_WA', '0_P'), 3590),
 (('Molto soddisfatto_SAT', '0_L', '0_P'), 3549),
 (('Molto soddisfatto_SAT', '0_WA', '0_P'), 3483),
 (('sales_D', '0_WA', '0_P'), 3482),
 (('Soddisfatto_SAT', '0_WA', '0_P'), 3459),
 (('Buono_LE', '0_WA', '0_P'), 3389),
 (('1_L', '0_WA', '0_P'), 3387),
 (('4_NP', '0_L', '0_WA'), 3300),
 (('3_NP', '0_L', '0_WA'), 3274),
 (('3_NP', '0_WA', '0_P'), 3271),
 (('4_NP', '0_L', '0_WA', '0_P'), 3211),
 (('3_NP', '0_L', '0_WA', '0_P'), 3200),
 (('3_TSC', 'low_SA', '0_P'), 3173),
 (('Soddisfatto_SAT', '0_L', '0_WA'), 3142),
 (('2_TSC', '0_L', '0_P'), 3137),
 (('Insufficiente_LE', '0_WA', '0_P'), 3080),
 (('Soddisfatto_SAT', '0_L', '0_WA', '0_P'), 3077),
 (('Neutrale_SAT', '0_WA', '0_P'), 3066),
 (('sales_D', '0_L', '0_P'), 3033),
 (('Molto soddisfatto_SAT', '0_L', '0_WA'), 3021)]

In [48]:
closed_patterns = apriori(hr_baskets_list, supp=20, zmin=3, target = 'c')

In [49]:
len(closed_patterns)

36

In [51]:
closed_patterns.sort(key=lambda pattern: pattern[1], reverse=True)
closed_patterns

[(('0_L', '0_WA', '0_P'), 9200),
 (('low_SA', '0_WA', '0_P'), 6228),
 (('3_TSC', '0_WA', '0_P'), 5446),
 (('medium_SA', '0_WA', '0_P'), 5371),
 (('low_SA', '0_L', '0_P'), 5092),
 (('medium_SA', '0_L', '0_P'), 4953),
 (('3_TSC', '0_L', '0_P'), 4738),
 (('medium_SA', '0_L', '0_WA'), 4266),
 (('low_SA', '0_L', '0_WA'), 4199),
 (('low_SA', '0_L', '0_WA', '0_P'), 4162),
 (('medium_SA', '0_L', '0_WA', '0_P'), 4132),
 (('3_TSC', '0_L', '0_WA'), 4036),
 (('3_TSC', '0_L', '0_WA', '0_P'), 3946),
 (('3_NP', '0_L', '0_P'), 3888),
 (('4_NP', '0_L', '0_P'), 3843),
 (('Soddisfatto_SAT', '0_L', '0_P'), 3750),
 (('4_NP', '0_WA', '0_P'), 3590),
 (('Molto soddisfatto_SAT', '0_L', '0_P'), 3549),
 (('Molto soddisfatto_SAT', '0_WA', '0_P'), 3483),
 (('sales_D', '0_WA', '0_P'), 3482),
 (('Soddisfatto_SAT', '0_WA', '0_P'), 3459),
 (('Buono_LE', '0_WA', '0_P'), 3389),
 (('1_L', '0_WA', '0_P'), 3387),
 (('4_NP', '0_L', '0_WA'), 3300),
 (('3_NP', '0_L', '0_WA'), 3274),
 (('3_NP', '0_WA', '0_P'), 3271),
 (('4_NP', '0_L', '0_WA', '0_P'), 3211),
 (('3_NP', '0_L', '0_WA', '0_P'), 3200),
 (('3_TSC', 'low_SA', '0_P'), 3173),
 (('Soddisfatto_SAT', '0_L', '0_WA'), 3142),
 (('2_TSC', '0_L', '0_P'), 3137),
 (('Insufficiente_LE', '0_WA', '0_P'), 3080),
 (('Soddisfatto_SAT', '0_L', '0_WA', '0_P'), 3077),
 (('Neutrale_SAT', '0_WA', '0_P'), 3066),
 (('sales_D', '0_L', '0_P'), 3033),
 (('Molto soddisfatto_SAT', '0_L', '0_WA'), 3021)]

In [55]:
maximal_patterns = apriori(hr_baskets_list, supp=20, zmin=3, target = 'm')

In [56]:
len(maximal_patterns)

17

In [57]:
max_pat = maximal_patterns[0]
max_pat

(('2_TSC', '0_L', '0_P'), 3137)

In [58]:
max_pat[1]

3137

In [59]:
maximal_patterns

[(('2_TSC', '0_L', '0_P'), 3137),
 (('1_L', '0_WA', '0_P'), 3387),
 (('Insufficiente_LE', '0_WA', '0_P'), 3080),
 (('Neutrale_SAT', '0_WA', '0_P'), 3066),
 (('Buono_LE', '0_WA', '0_P'), 3389),
 (('3_NP', '0_L', '0_WA', '0_P'), 3200),
 (('sales_D', '0_L', '0_P'), 3033),
 (('sales_D', '0_WA', '0_P'), 3482),
 (('Molto soddisfatto_SAT', '0_L', '0_WA'), 3021),
 (('Molto soddisfatto_SAT', '0_L', '0_P'), 3549),
 (('Molto soddisfatto_SAT', '0_WA', '0_P'), 3483),
 (('Soddisfatto_SAT', '0_L', '0_WA', '0_P'), 3077),
 (('4_NP', '0_L', '0_WA', '0_P'), 3211),
 (('3_TSC', 'low_SA', '0_P'), 3173),
 (('3_TSC', '0_L', '0_WA', '0_P'), 3946),
 (('medium_SA', '0_L', '0_WA', '0_P'), 4132),
 (('low_SA', '0_L', '0_WA', '0_P'), 4162)]

In [60]:
maximal_patterns.sort(key=lambda pattern: pattern[1], reverse=True)
maximal_patterns

[(('low_SA', '0_L', '0_WA', '0_P'), 4162),
 (('medium_SA', '0_L', '0_WA', '0_P'), 4132),
 (('3_TSC', '0_L', '0_WA', '0_P'), 3946),
 (('Molto soddisfatto_SAT', '0_L', '0_P'), 3549),
 (('Molto soddisfatto_SAT', '0_WA', '0_P'), 3483),
 (('sales_D', '0_WA', '0_P'), 3482),
 (('Buono_LE', '0_WA', '0_P'), 3389),
 (('1_L', '0_WA', '0_P'), 3387),
 (('4_NP', '0_L', '0_WA', '0_P'), 3211),
 (('3_NP', '0_L', '0_WA', '0_P'), 3200),
 (('3_TSC', 'low_SA', '0_P'), 3173),
 (('2_TSC', '0_L', '0_P'), 3137),
 (('Insufficiente_LE', '0_WA', '0_P'), 3080),
 (('Soddisfatto_SAT', '0_L', '0_WA', '0_P'), 3077),
 (('Neutrale_SAT', '0_WA', '0_P'), 3066),
 (('sales_D', '0_L', '0_P'), 3033),
 (('Molto soddisfatto_SAT', '0_L', '0_WA'), 3021)]

# Regole

In [73]:
rules = apriori(hr_baskets_list, supp=10, zmin=2, target='r', conf=80, report='ascl')

In [74]:
first_rule = rules[0]
first_rule

('0_WA',
 ('Insoddisfatto_SAT',),
 1337,
 0.08913927595173012,
 0.8877822045152722,
 1.0378679100175034)

In [75]:
len(rules)

484

In [76]:
rules_left = list()
rules_not_left = list()
for rule in rules:
    if rule[0] == '1_L':
        rules_left.append(rule)
    elif rule[0] == '0_L':
        rules_not_left.append(rule)
len(rules_left), len(rules_not_left)

(6, 83)

In [79]:
min_lift = 1.0
interesting_left_rules = list()
interesting_not_left_rules = list()

for rule in rules_left:
    if rule[5] > min_lift:
        interesting_left_rules.append(rule)
for rule in rules_not_left:
    if rule[5] > min_lift:
        interesting_not_left_rules.append(rule)    
        
len(interesting_left_rules), len(interesting_not_left_rules)

(6, 83)

In [81]:
interesting_left_rules.sort(key=lambda rule: rule[5], reverse=True)
for int_rule in interesting_left_rules:
    print int_rule

('1_L', ('2_NP', '3_TSC', '0_WA', '0_P'), 1446, 0.09640642709513968, 0.8431486880466472, 3.5414133777685977)
('1_L', ('2_NP', 'Insufficiente_LE', '0_P'), 1292, 0.0861390759383959, 0.8427919112850619, 3.5399148354423535)
('1_L', ('2_NP', '3_TSC', '0_WA'), 1455, 0.09700646709780653, 0.842501447596989, 3.5386948228807724)
('1_L', ('2_NP', 'Insufficiente_LE'), 1301, 0.08673911594106273, 0.8350449293966624, 3.5073757759788684)
('1_L', ('2_NP', '3_TSC', '0_P'), 1516, 0.10107340489365958, 0.8243610657966286, 3.4625011553860636)
('1_L', ('2_NP', '3_TSC'), 1528, 0.1018734582305487, 0.8241639697950378, 3.461673308024579)

In [82]:
interesting_not_left_rules.sort(key=lambda rule: rule[2], reverse=True)
for int_rule in interesting_not_left_rules:
    print int_rule

('0_L', ('3_NP',), 3983, 0.2655510367357824, 0.9822441430332922, 1.2891739500661838)
('0_L', ('4_NP',), 3956, 0.26375091672778184, 0.9063001145475372, 1.1894990740373215)
('0_L', ('3_NP', '0_P'), 3888, 0.2592172811520768, 0.9818181818181818, 1.288614885289719)
('0_L', ('4_NP', '0_P'), 3843, 0.2562170811387426, 0.9046610169491526, 1.1873477942964945)
('0_L', ('Soddisfatto_SAT',), 3841, 0.2560837389159277, 0.9061099315876386, 1.189249463062915)
('0_L', ('Soddisfatto_SAT', '0_P'), 3750, 0.25001666777785186, 0.9047044632086851, 1.1874048165616966)
('0_L', ('Molto soddisfatto_SAT',), 3647, 0.24314954330288685, 0.8633996212121212, 1.1331931150298045)
('0_L', ('Molto soddisfatto_SAT', '0_P'), 3549, 0.236615774384959, 0.8603636363636363, 1.1292084513316576)
('0_L', ('4_NP', '0_WA'), 3300, 0.22001466764450964, 0.8962520369364476, 1.1763111919854548)
('0_L', ('3_NP', '0_WA'), 3274, 0.21828121874791653, 0.9787742899850523, 1.2846198438471998)
('0_L', ('4_NP', '0_WA', '0_P'), 3211, 0.2140809387292486, 0.8944289693593315, 1.1739184556720872)
('0_L', ('3_NP', '0_WA', '0_P'), 3200, 0.2133475565037669, 0.9782940996637114, 1.2839896045551284)
('0_L', ('2_TSC',), 3191, 0.21274751650110008, 0.9836621454993835, 1.2910350472825738)
('0_L', ('Soddisfatto_SAT', '0_WA'), 3142, 0.20948063204213616, 0.8908420754182025, 1.1692107358415837)
('0_L', ('2_TSC', '0_P'), 3137, 0.209147276485099, 0.983385579937304, 1.2906720610325186)
('0_L', ('Soddisfatto_SAT', '0_WA', '0_P'), 3077, 0.20514700980065337, 0.8895634576467187, 1.1675325779876735)
('0_L', ('Molto soddisfatto_SAT', '0_WA'), 3021, 0.20141342756183744, 0.8476430976430976, 1.1125130225366486)
('0_L', ('Molto soddisfatto_SAT', '0_WA', '0_P'), 2940, 0.19601306753783584, 0.8440999138673557, 1.107862671342008)
('0_L', ('2_TSC', '0_WA'), 2634, 0.17561170744716315, 0.9806403574087863, 1.2870690165185847)
('0_L', ('2_TSC', '0_WA', '0_P'), 2590, 0.17267817854523634, 0.9803179409538229, 1.2866458519746578)
('0_L', ('Sufficiente_LE',), 2199, 0.14660977398493233, 0.8813627254509018, 1.1567692963806506)
('0_L', ('Discreto_LE',), 2165, 0.14434295619707982, 0.9739091318038686, 1.278234430165053)
('0_L', ('Sufficiente_LE', '0_P'), 2138, 0.14254283618907926, 0.8805601317957167, 1.1557159097658343)
('0_L', ('Discreto_LE', '0_P'), 2110, 0.14067604506967132, 0.9732472324723247, 1.2773657017721736)
('0_L', ('1_WA',), 2000, 0.13334222281485433, 0.9220839096357769, 1.2102149598028542)
('0_L', ('1_WA', '0_P'), 1928, 0.12854190279351957, 0.9211657907310081, 1.2090099488252004)
('0_L', ('4_NP', 'low_SA'), 1838, 0.12254150276685112, 0.8806899856252994, 1.1558863400764672)
('0_L', ('3_NP', 'medium_SA'), 1824, 0.12160810720714714, 0.9827586206896551, 1.2898491907353988)
('0_L', ('4_NP', 'low_SA', '0_P'), 1820, 0.12134142276151744, 0.8809293320425944, 1.1562004770132022)
('0_L', ('Sufficiente_LE', '0_WA'), 1814, 0.12094139609307288, 0.8662846227316141, 1.136979616411575)
('0_L', ('Discreto_LE', '0_WA'), 1807, 0.12047469831322088, 0.9704618689581096, 1.2737099730926396)
('0_L', ('3_NP', 'medium_SA', '0_P'), 1779, 0.11860790719381292, 0.9823302043070127, 1.2892869036052577)
('0_L', ('4_NP', '3_TSC'), 1774, 0.11827455163677579, 0.9866518353726362, 1.294958949838482)
('0_L', ('3_NP', '3_TSC'), 1773, 0.11820788052536836, 0.9949494949494949, 1.3058494465127297)
('0_L', ('Sufficiente_LE', '0_WA', '0_P'), 1762, 0.11747449829988665, 0.8654223968565815, 1.135847963812729)
('0_L', ('3_NP', 'low_SA'), 1754, 0.11694112940862725, 0.9793411501954216, 1.2853638354726222)
('0_L', ('Discreto_LE', '0_WA', '0_P'), 1753, 0.11687445829721982, 0.9695796460176991, 1.2725520747829426)
('0_L', ('4_NP', 'medium_SA'), 1752, 0.11680778718581239, 0.9172774869109948, 1.203906635122332)
('0_L', ('Soddisfatto_SAT', '3_TSC'), 1741, 0.11607440496033068, 0.9875212705615428, 1.296100064504076)
('0_L', ('3_NP', '3_TSC', '0_P'), 1738, 0.11587439162610841, 0.994848311390956, 1.3057166453056481)
('0_L', ('163-184_AMH',), 1737, 0.11580772051470098, 0.9769403824521935, 1.2822128803290558)
('0_L', ('Soddisfatto_SAT', 'medium_SA'), 1737, 0.11580772051470098, 0.9273892151628403, 1.2171780572477635)
('0_L', ('3_NP', 'low_SA', '0_P'), 1729, 0.11527435162344156, 0.9790486976217441, 1.2849799978673906)
('0_L', ('4_NP', '3_TSC', '0_P'), 1713, 0.11420761384092273, 0.9878892733564014, 1.2965830601218642)
('0_L', ('Soddisfatto_SAT', 'low_SA'), 1708, 0.11387425828388559, 0.8709841917389087, 1.143147697925437)
('0_L', ('163-184_AMH', '0_P'), 1701, 0.1134075605040336, 0.9764638346727899, 1.2815874217935925)
('0_L', ('Soddisfatto_SAT', '3_TSC', '0_P'), 1700, 0.11334088939262618, 0.9889470622454916, 1.2979713848985062)
('0_L', ('Soddisfatto_SAT', 'low_SA', '0_P'), 1697, 0.1131408760584039, 0.8715973292244479, 1.1439524274621538)
('0_L', ('Molto soddisfatto_SAT', 'low_SA'), 1684, 0.11227415161010734, 0.8303747534516766, 1.0898486985493259)
('0_L', ('Soddisfatto_SAT', 'medium_SA', '0_P'), 1683, 0.11220748049869991, 0.9252336448598131, 1.2143489183804985)
('0_L', ('4_NP', 'medium_SA', '0_P'), 1680, 0.11200746716447763, 0.914534567229178, 1.2003066130443159)
('0_L', ('Molto soddisfatto_SAT', 'low_SA', '0_P'), 1666, 0.11107407160477366, 0.8288557213930349, 1.0878550022028464)
('0_L', ('Molto soddisfatto_SAT', '3_TSC'), 1663, 0.11087405827055137, 0.9970023980815348, 1.3085438369640305)
('0_L', ('185-206_AMH',), 1653, 0.11020734715647709, 0.9810089020771513, 1.287552723333496)
('0_L', ('Molto soddisfatto_SAT', 'medium_SA'), 1632, 0.10880725381692113, 0.8793103448275862, 1.15407559171062)
('0_L', ('185-206_AMH', '0_P'), 1620, 0.108007200480032, 0.9806295399515739, 1.287054818842637)
('0_L', ('Molto soddisfatto_SAT', '3_TSC', '0_P'), 1613, 0.10754050270018001, 0.9969097651421508, 1.3084222582575358)
('0_L', ('Molto soddisfatto_SAT', 'medium_SA', '0_P'), 1571, 0.10474031602106808, 0.8756967670011149, 1.1493328498643438)
('0_L', ('207-228_AMH',), 1569, 0.10460697379825322, 0.8929994308480365, 1.172042217648731)
('0_L', ('207-228_AMH', '0_P'), 1518, 0.10120674711647443, 0.8898007033997656, 1.1678439578485371)
('0_L', ('3_NP', 'medium_SA', '0_WA'), 1508, 0.10054003600240016, 0.9792207792207792, 1.285205851201651)
('0_L', ('2_TSC', 'low_SA'), 1505, 0.10034002266817788, 0.9855926653569089, 1.2935688123633424)
('0_L', ('4_NP', 'low_SA', '0_WA'), 1504, 0.10027335155677045, 0.8648648648648649, 1.135116215270223)
('0_L', ('2_TSC', 'low_SA', '0_P'), 1497, 0.09980665377691846, 0.9855167873601053, 1.293469224152452)
('0_L', ('4_NP', 'low_SA', '0_WA', '0_P'), 1494, 0.09960664044269618, 0.86558516801854, 1.1360615974020023)
('0_L', ('4_NP', '3_TSC', '0_WA'), 1487, 0.09913994266284419, 0.9841164791528789, 1.2916313502637409)
('0_L', ('4_NP', 'medium_SA', '0_WA'), 1481, 0.09873991599439963, 0.9108241082410824, 1.1954367167927893)
('0_L', ('3_NP', 'medium_SA', '0_WA', '0_P'), 1472, 0.09813987599173278, 0.9787234042553191, 1.284553057440106)
('0_L', ('sales_D', 'medium_SA'), 1469, 0.0979398626575105, 0.8290067720090294, 1.0880532528319418)
('0_L', ('163-184_AMH', '0_WA'), 1462, 0.09747316487765852, 0.9727212242182302, 1.2766753274456804)
('0_L', ('4_NP', 'medium_SA', '0_WA', '0_P'), 1424, 0.09493966264417628, 0.9075844486934354, 1.1911847345075985)
('0_L', ('Soddisfatto_SAT', 'medium_SA', '0_WA'), 1415, 0.09433962264150944, 0.9194282001299545, 1.2067293991730126)
('0_L', ('Soddisfatto_SAT', '4_NP'), 1414, 0.09427295153010201, 0.9158031088082902, 1.201971546116166)
('0_L', ('sales_D', 'medium_SA', '0_P'), 1402, 0.09347289819321287, 0.8227699530516432, 1.079867564387609)
('0_L', ('Soddisfatto_SAT', 'low_SA', '0_WA'), 1399, 0.0932728848589906, 0.8473652331920049, 1.1121483315231782)
('0_L', ('Soddisfatto_SAT', 'low_SA', '0_WA', '0_P'), 1394, 0.09293952930195347, 0.8484479610468655, 1.1135693881468267)
('0_L', ('Molto soddisfatto_SAT', 'low_SA', '0_WA'), 1382, 0.09213947596506433, 0.808187134502924, 1.0607279340575215)
('0_L', ('Soddisfatto_SAT', '4_NP', '0_P'), 1373, 0.0915394359623975, 0.9153333333333333, 1.2013549760821374)
('0_L', ('Molto soddisfatto_SAT', 'low_SA', '0_WA', '0_P'), 1365, 0.09100606707113808, 0.8062610750147667, 1.0582000231139732)
('0_L', ('Molto soddisfatto_SAT', 'medium_SA', '0_WA'), 1363, 0.09087272484832322, 0.868706182281708, 1.1401578603468097)
('0_L', ('Molto soddisfatto_SAT', '4_NP'), 1361, 0.09073938262550836, 0.8630310716550412, 1.1327094017985617)
('0_L', ('Molto soddisfatto_SAT', '4_NP', '0_P'), 1320, 0.08800586705780386, 0.8599348534201955, 1.1286456830984872)
('0_L', ('Molto soddisfatto_SAT', 'medium_SA', '0_WA', '0_P'), 1316, 0.08773918261217414, 0.8646517739816032, 1.134836538147538)

In [79]:
first_int_rule = interesting_left_rules[0]
first_int_rule

('1_L',
 ('2_NP', '3_TSC', '0_WA', '0_P'),
 1446,
 0.09640642709513968,
 0.8431486880466472,
 3.5414133777685977)

In [80]:
hr_baskets_list[0]

['Insoddisfatto_SAT',
 'Insufficiente_LE',
 '2_NP',
 '141-162_AMH',
 '3_TSC',
 '0_WA',
 '1_L',
 '0_P',
 'sales_D',
 'low_SA']

In [84]:
from __future__ import division

In [85]:
counter = 0
c_left = 0
c_not_left = 0
for row in hr_baskets_list:
    if '2_NP' in row and '3_TSC' in row:
        counter += 1
    if '2_NP' in row and '3_TSC' in row and '1_L' in row:
        c_left += 1
    if '2_NP' in row and '3_TSC' in row and '0_L' in row:
        c_not_left += 1
accuracy = (c_left/counter) * 100
print 'counter', counter
print 'c_left', c_left
print 'c_not_left', c_not_left
print 'accuracy', accuracy

counter 1854
c_left 1528
c_not_left 326
accuracy 82.4163969795

In [83]:
counter = 0
c_left = 0
c_not_left = 0
for row in hr_baskets_list:
    if '3_NP' in row:
        counter += 1
    if '3_NP' in row and '1_L' in row:
        c_left += 1
    if '3_NP' in row and '0_L' in row:
        c_not_left += 1
accuracy = (c_not_left/counter) * 100
print 'counter', counter
print 'c_left', c_left
print 'c_not_left', c_not_left
print 'accuracy', accuracy

counter 4055
c_left 72
c_not_left 3983
accuracy 98.2244143033